body {
    margin: 0;
    font-family: Arial, sans-serif;

    background-image: url("Fontaine.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.vertical-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background-color: #1678f0;
    padding-top: 20px;
}

.vertical-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.vertical-nav .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.vertical-nav li {
    margin: 20px 0;
}

.vertical-nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.vertical-nav a:hover {
    color: white;
}

.content {
    margin-left: 220px; 
    padding: 40px;
    text-align: center;
}

.image-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.image-row img {
    width: 250px;
    height: 250px;
    cursor: pointer;
    transition: transform 0.3s;
}

.image-row img:hover {
    transform: scale(2.00);
}

.zoomable:hover {
    transform: scale(1.1);
}

.zoomed {
    transform: scale(2);
    z-index: 10;
    position: relative;
}